* {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol,
ul {
    padding-left: 30px;
}

a:link {
    color: #1aa8a8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #21d2d2;
    text-decoration: underline;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
    position: fixed;
}


.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 32px;
    font-weight: bold;
    line-height: 34px;
    height: 82px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 82px;
}

.square:focus {
    outline: none;
}

/* highlight squares that cause the win*/
.square-win {
    color: #7f0000;
    border-color: #b20000;
    border-width: 2px;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
}

.game-info {
    margin-left: 20px;
    height: auto;
}

/* make a selected item bold and unclickable */
.selected {
    font-weight: bold;
    pointer-events: none;
}

.not-selected {
    font-weight: normal;
}

/* create app default header */

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 500px) {
    h2 {
        font-size: small;
    }
    .game {
        flex-flow: wrap;
    }
    .game {
        width: 100%;
    }
    .game-info {
        width: 80%;
        margin-top: 20px;
    }
}